body{
    background-image: url("../images/fruit.jpg");
}

.top-box{
    margin-top: 60px;
    background-color:rgb(255, 0, 157);
    border: solid #ffae42 10px;
    padding: 10px;
    color: white;
    text-align: center;
}

#main-box{
    background-color: #ffae42;
    opacity: .95;
    border: solid rgb(255, 0, 157) 10px;
    padding: 25px;
    text-align: center;
    font: 24px bold;
    color: white;
    
}

/* #jumbotron {
    background-color: yellow;
    color: rgb(255, 0, 157);
} */